<ng-container *ngIf="!invalidToken; else invalid">
  <app-error-message *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-message>

  <form [formGroup]="formGroup" (ngSubmit)="resetPassword(formGroup.value)"
        *ngIf="!isSuccessful; else successful">
    <input formControlName="password" type="password" appFormValidity>
    <input formControlName="passwordConfirm" type="password" appFormValidity>
    <button type="submit"
            [disabled]="!formGroup.valid || isInProcessingState" i18n="action|">Reset Password
    </button>
  </form>
  <ng-template #successful>
    <p>Your password is successfully reset</p>
  </ng-template>
</ng-container>

<ng-template #invalid>
  <p>Invalid Token</p>
</ng-template>
