<ng-container *ngIf="!invalidToken; else invalid">
  <div class="mb-4">
    <p class="fs-2 text-center">Reset Password</p>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="resetPassword(formGroup.value)"
        *ngIf="!isSuccessful; else successful">
    <div class="mb-3">
      <label for="password">Password</label>
      <input id="password" class="form-control" formControlName="password" type="password" placeholder="Password" appFormValidity>
    </div>
    <div class="mb-3">
      <label for="password-confirm">Password Confirm</label>
      <input id="password-confirm" class="form-control" formControlName="passwordConfirm" type="password" placeholder="Password Confirm" appFormValidity>
    </div>

    <div class="mb-3" *ngIf="errorMessage">
      <app-error-message [errorMessage]="errorMessage"></app-error-message>
    </div>
    <div class="mb-3">
      <button class="w-100 btn btn-primary" type="submit" [disabled]="!formGroup.valid || isInProcessingState">
        Reset Password
      </button>
    </div>
  </form>
  <ng-template #successful>
    <div class="rounded bg-success text-white p-4">
      <p>Your password is successfully reset</p>
    </div>
  </ng-template>
</ng-container>

<ng-template #invalid>
  <p>Invalid Token</p>
</ng-template>
