<div
  style=" top: 0; left: 0; width: 100%; background-color: wheat; z-index: 9; display: flex; justify-content: center"
  *ngIf="!(connectionStatus === statuses.Initial || connectionStatus === statuses.Open)">
  <div class="p-1">
    <span class="mx-2">Lost Connection.</span>
    <ng-container [ngSwitch]="connectionStatus">
      <ng-container *ngSwitchCase="statuses.Closed">
        <span>Will try to connect in {{willReconnectIn}} seconds.</span>
        <button class="btn btn-sm btn-link p-0 mx-2" *ngIf="connectionStatus === statuses.Closed; else reconnecting"
                (click)="reconnect()">
          Reconnect Now
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="statuses.Reconnecting"><span>Connection</span></ng-container>
    </ng-container>

    <ng-template #reconnecting></ng-template>
  </div>
</div>

<!--<nav class="d-flex flex-row-reverse p-4 ">-->
<!--  <button class="btn btn-outline-light">Logout</button>-->
<!--</nav>-->
<div class="container-fluid d-flex flex-row">
  <aside class="d-flex position-sticky top-0 align-items-center justify-content-center"
         style="height: 100vh; width: 20%">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let menu of menus">
        <a class="nav-link" [routerLink]="menu.routerLink">{{menu.text}}</a>
      </li>
    </ul>
  </aside>

  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>
</div>

<div class="alerts position-fixed d-inline-block top-0 w-25 mw-100 m-4" style="right: 0">
  <div class="mb-4 p-4 bg-white rounded border-start border-5 border-{{alert.type}} d-flex flex-row" role="alert" *ngFor="let alert of alerts">
    <p class="flex-grow-1 m-0">{{alert.text}}</p>
    <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="removeAlert(alert)">
    </button>
  </div>
</div>
