openapi: 3.0.1
info:
  title: Nanonetworking Testbed API
  description: 'This application provides state management of Nanonetworking Testbed API project. You can find the project in [here](https://github.com/nanonetworking/kr-testbed-api).'
  termsOfService: 'NO'
  contact:
    email: nrg@boun.edu.tr
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1-beta2
externalDocs:
  description: You can reach out the docs from here
  url: https://github.com/nanonetworking/kr-testbed-api
servers:
- url: https://stapiac.westeurope.cloudapp.azure.com/api
- url: http://127.0.0.1:8040/api
tags:
- name: auth
  description: Authorization of user
- name: experiment
  description: Managing the experiments
- name: slot
  description: Managing the slots
- name: user
  description: User's information
paths:
  /auth/login:
    post:
      tags:
      - auth
      summary: Authorizes the given credentials and returns a token with a one day expire time
      operationId: login
      requestBody:
        description: User's credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        200:
          description: Successful authorization
          content: 
            application/json:
              schema: 
                $ref: '#/components/schemas/Token'
        422:
          description: Failed authorization. Reason can be invalid credentials, not verified user or banned user
          content: 
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidCredentialsOrUser'
                  - $ref: '#/components/schemas/NotVerified'
                  - $ref: '#/components/schemas/Banned'
  /auth/sign-up:
    post:
      tags:
      - auth
      summary: Creates a new user with given values
      operationId: signUp
      requestBody:
        description: User's information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        422:
          description: At least one of the given values are invalid or missing
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - $ref: '#/components/schemas/UserExists'
  /auth/forgot-password:
    post:
      tags:
      - auth
      summary: Sends a reset password email to given email address if it does exists
      operationId: forgotPassword
      requestBody:
        description: Email of user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFound'
  /auth/reset-password:
    post:
      tags:
      - auth
      summary: Resets password with a valid token sent via email
      operationId: resetPassword
      requestBody:
        description: New password and valid token sent via email
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        200:
          description: Password updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        401:
          description: Invalid token provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidToken'
        422:
          description: At least one of the given values are invalid or missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /auth/verify-account:
    post:
      tags:
      - auth
      summary: Verify user account
      operationId: verifyAccount
      requestBody:
        description: Token sent via email when user signed up
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/Token'
      responses:
        200:
          description: User verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        401:
          description: Invalid token provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidToken'
        422:
          description: User not in NotVerified status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidOperationForStatus'
  /experiment/ws:
    get:
      tags:
      - experiment
      summary: Controller devices use this endpoint to create websocket connection. Will not return until connection is closed
      operationId: experimentWs
      parameters:
        - in: query
          name: token
          schema:
            type: string
          required: true
          description: Token to authorize controller
        - in: query
          name: runningJobId
          schema:
            type: integer
          description: Currently running job's id on controller if exists
      responses:
        200:
          description: Connection closed
        401:
          description: Invalid token provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidToken'
        404:
          description: Unknown controller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFound'
  /experiment/job/{id}/output:
    post:
      tags:
      - experiment
      summary: Controller devices use this endpoint to upload output of a job
      operationId: storeJobOutput
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Id of the job
        - in: query
          name: token
          schema:
            type: string
          required: true
          description: Token to authorize controller
      requestBody:
        description: Output of job in binary format
        content:
          octet/stream:
            schema:
              type: string
              example: binary
              format: binary
      responses:
        200:
          description: Successful upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        401:
          description: Invalid token provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidToken'
        404:
          description: Unknown controller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFound'
        500:
          description: An error occurred while performing IO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IOError'
  /experiment/controllers:
    get:
      tags:
      - experiment
      summary: Returns all controllers
      operationId: fetchControllers
      responses:
        200:
          description: All controllers
          content:
            application/json:
              schema:
                type: array
                items:
                    $ref: '#/components/schemas/SlimController'
  /experiment/controller/{id}:
    get:
      tags:
      - experiment
      summary: Returns controller
      operationId: fetchController
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: id of controller
      responses:
        200:
          description: Controller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlimController'
        404:
          description: Unknown controller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFound'
  /experiment/experiments:
    get:
      tags:
      - experiment
      summary: Returns all experiments belongs to the authorized user
      operationId: fetchExperiments
      responses:
        200:
          description: All experiments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlimExperiment'
  /experiment/experiment/{id}:
    get:
      tags:
      - experiment
      summary: Returns experiment belongs to the user. If experiment with given id does not belong to the authorized user, not found error will be returned
      operationId: fetchExperiment
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: id of experiment
      responses:
        200:
          description: Details of experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        404:
          description: Experiment not found or not belong to authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFound'
  /experiment/experiment/{id}/jobs:
    get:
      tags:
      - experiment
      summary: Returns tuples of job and controller belong to given experiment id as paginated
      operationId: fetchJobs
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: id of experiment
        - in: query
          name: perPage
          schema:
            type: integer
          required: false
          description: number of items in one page
        - in: query
          name: page
          schema:
            type: integer
          description: current page
      responses:
        200:
          description: Tuples of job and controller belong to the given experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlimJobSlimControllerPagination'
        404:
          description: Experiment not found or not belong to authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFound'

components:
  schemas:
    Pagination:
      type: object
      properties:
        perPage:
          type: integer
          description: number of items in one page
        currentPage:
          type: integer
        totalPages:
          type: integer
        total_items:
          type: integer
        items:
          type: array
          items: {}
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: hello@email.com
        password:
          type: string
          format: password
          example: password
          minLength: 8
          maxLength: 128
      required:
        - email
        - password
    SignUpRequest:
      type: object
      properties:
        firstName:
          type: string
          example: John
          maxLength: 122
        lastName:
          type: string
          example: Doe
          maxLength: 122
        email:
          type: string
          format: email
          example: hello@email.com
          maxLength: 255
        password:
          type: string
          format: password
          example: password
          minLength: 8
          maxLength: 128
      required:
        - firstName
        - lastName
        - email
        - password
    ForgotPasswordRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: hello@email.com
      required:
        - email
    ResetPasswordRequest:
      type: object
      properties:
        token:
          type: string
        password:
          type: string
          format: password,
          minLength: 8
          maxLength: 128
      required:
        - token
        - password
    Token:
      type: object
      properties:
        token:
          type: string
          format: json-web-token
          example: valid-token
    SuccessResponse:
      type: object
      properties:
        message:
          type: string
          example: success
    SlimController:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: controller-1
        createdAt:
          type: string
          format: date-time
    SlimExperiment:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        name:
          type: string
          example: My experiment
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Experiment:
      allOf:
        - $ref: '#/components/schemas/SlimExperiment'
        - type: object
          properties:
            code:
              type: string
              format: html-encoded
              example: print('my python code')
    JobStatus:
      type: string
      enum:
        - Pending
        - Running
        - Successful
        - Failed
    SlimJob:
      type: object
      properties:
        id:
          type: integer
        experimentId:
          type: integer
        controllerId:
          type: integer
        status:
          $ref: '#/components/schemas/JobStatus'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SlimJobSlimControllerPagination:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/SlimJob'
                    - $ref: '#/components/schemas/SlimController'
                minLength: 2
                maxLength: 2
    ErrorMessage:
      type: object
      properties:
        code: 
          type: integer
          example: 400
        errorCode:
          type: integer
          example: 100
        message:
          type: string
          example: error_message
          format: snake-case
    ValidationError:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 422
            errorCode:
              example: 1
            message:
              example: validation_errors
            validationErrors:
              type: object
              additionalProperties:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                      nullable: true
                  
    InvalidCredentialsOrUser:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 422
            errorCode:
              example: 101
            message:
              example: invalid_credentials
    NotVerified:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 422
            errorCode:
              example: 102
            message:
              example: not_verified
    Banned:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 422
            errorCode:
              example: 103
            message:
              example: banned
    UserExists:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 422
            errorCode:
              example: 100
            message:
              example: user_exists
    ItemNotFound:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 400
            errorCode:
              example: 102
            message:
              example: item_not_found
    InvalidToken:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 401
            errorCode:
              example: 105
            message:
              example: invalid_token
    InvalidOperationForStatus:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 422
            errorCode:
              example: 112
            message:
              example: invalid_operation_for_status
    IOError:
      allOf:
        - $ref: '#/components/schemas/ErrorMessage'
        - type: object
          properties:
            code:
              example: 500
            errorCode:
              example: 116
            message:
              example: io_error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
