<div class="mb-4">
  <p class="fs-2 text-center">Reset Password</p>
</div>

<app-error-message *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-message>

<form [formGroup]="formGroup" (ngSubmit)="forgotPassword(formGroup.value)" *ngIf="!isSuccessful; else successful">

  <div class="mb-3">
    <label for="email">Email</label>
    <input id="email" class="form-control" type="email" formControlName="email" placeholder="Email" appFormValidity>
  </div>

  <div class="mb-3">
    <button class="w-100 btn btn-primary" type="submit" [disabled]="!formGroup.valid || isInProcessingState">
      Send Reset Password Request
    </button>
  </div>

</form>
<ng-template #successful>
  <div class="nes-container is-rounded is-dark">
    <p class="nes-text is-success">A reset password email is sent to your email.</p>
  </div>
</ng-template>
