<div>
  <div class="mb-4">
    <h1 class="title">Reset Password</h1>
  </div>
  <app-error-message *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-message>
  <form [formGroup]="formGroup" (ngSubmit)="forgotPassword(formGroup.value)"
        *ngIf="!isSuccessful; else successful">

    <div class="nes-field mb-4">
      <label for="email">Email</label>
      <input id="email" class="nes-input" type="email" formControlName="email" placeholder="Email" appFormValidity>
    </div>

    <div class="nes-field">
      <button class="nes-btn is-primary w-100" type="submit" [disabled]="!formGroup.valid || isInProcessingState">
        Send Reset Password Request
      </button>
    </div>

  </form>
  <ng-template #successful>
    <div class="nes-container is-rounded is-dark">
      <p class="nes-text is-success">A reset password email is sent to your email.</p>
    </div>
  </ng-template>
</div>
