<div>
  <app-error-message [errorMessage]="errorMessage" *ngIf="errorMessage"></app-error-message>
  <form [formGroup]="formGroup" (ngSubmit)="signUp(formGroup.value)">
    <input type="text" formControlName="firstName" placeholder="First Name" appFormValidity>
    <input type="email" formControlName="lastName" placeholder="Last Name" appFormValidity>
    <input type="email" formControlName="email" placeholder="Email" appFormValidity>
    <input type="password" formControlName="password" placeholder="Password" appFormValidity>
    <button type="submit" [disabled]="!formGroup.valid || isInProcessingState">Login</button>
  </form>
</div>
