<div class="container mt-4">
  <div class="mb-4">
    <p class="fs-3">Controllers</p>
    <hr>
  </div>

  <div class="bg-white rounded-3 shadow-sm p-md-5 p-3" *ngIf="isPageReady">
    <table class="table table-hover table-responsive-sm mb-4">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Created at</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let controller of controllers">
        <td><small>{{controller.id}}</small></td>
        <td><small>{{controller.name}}</small></td>
        <td><small>{{controller.createdAt | date : formats.shortDate}}</small></td>
        <td>
          <a class="btn btn-outline-dark" [routerLink]="['../controller', controller.id]">
            <small>Details</small>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
